.card{
    height: max-content;
    min-width: 220px;
    border-radius: 5px;
    flex: 1;
    max-width: 320px;
    text-transform: capitalize;
    box-shadow: 1px 1px 3px 3px rgb(216, 214, 214);
    background: white;
    
}

.img{
    overflow: hidden;
    height: 150px;
    border-radius: inherit;
}
.img>img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit: fill;
    transition: all 0.5s ease-in-out;
}
.img>img:hover{
   transform: scale(1.2);

}
.card-header>small{
    font-style: italic;
}
.card-body, .card-footer{
    padding: 10px 5px;
   
}
.card-body>h3{
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.1rem;
}
.card-body>p{
    font-size: 0.9rem;
}
.btn{
    border: none;
    
    background-color: #1c1c1c;
    padding: 5px;
}
.btn>a{
    color: white;
    text-decoration: none;
}
.btn:hover{
    background-color:rgb(46, 45, 45) ;
}